<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" />
    <title>homepage</title>
</head>

<header>

    <nav class="top-0 absolute z-50 w-full px-2 py-3 bg-gray-500 ">

        <div class="lg:flex flex-grow items-center  ml-5 lg:bg-transparent lg:shadow-none" id="example-collapse-navbar">
            <a class="text-sm font-bold leading-relaxed inline-block mr-8 py-2 whitespace-nowrap uppercase text-white" href="/">Home</a
      >
    <a class="text-sm font-bold leading-relaxed inline-block mr-8 py-2 whitespace-nowrap uppercase text-white" href="/dashboard">Dashboard</a
      >
        <a class="text-sm font-bold leading-relaxed inline-block mr-8 py-2 whitespace-nowrap uppercase text-white" href="/dashboard/logout" id="logout">Logout</a
          >
        </div>
        <div class="mt-5" >
          <h1 class="text-white font-bold text-6xl">Your Dashboard</h1>
        </div>
        </nav>
      </header>


<body>
  <div class="container mt-40 mx-auto my-auto">

{{{body}}}

        </div>
        <div class="text-center mt-20">
            <a href="/dashboard/new"><button class="bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1" type="button">
              ➕ New Post
  </button></a>
        </div>
 <script src="/js/logout.js"></script>
</body>
</html>
